@tailwind base;
@tailwind components;
@tailwind utilities;

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	scroll-behavior: smooth !important;
}

/* from-[#c2b280] */
.main {
	@apply bg-gradient-to-t from-[#dfd1a6] to-[#f3f3f3] h-full;
}

.navbar {
	@apply flex justify-between w-full py-3 items-center max-w-3xl mx-auto;
}

.button {
	@apply shadow-xl bg-[#ffffff] hover:bg-goldText rounded-full transition-colors px-5 py-3 font-medium uppercase border-2 border-goldText text-goldText hover:text-white;
}
.button-fb {
	@apply shadow-xl bg-[#ffffff]  rounded-full transition-colors px-5 py-3 font-medium  border-2 border-goldText text-4xl  text-blue-600 animate-bounce;
}

/* welcome */

.welcome {
	@apply flex flex-col items-center mx-auto py-10 space-y-8 text-center;
}

/* statute card */
.statute {
	@apply flex flex-col mt-20 mx-auto pb-10 items-center w-4/5 max-w-3xl;
}

.statute-card {
	@apply bg-[#f3f3f3] w-full p-8 rounded-md shadow-2xl text-center;
}

.li-mb {
	@apply mb-6;
}

/* bg to test */
.bg1 {
	@apply border-2 border-black;
}
.bg2 {
	@apply border-2 border-red-600;
}
.bg3 {
	@apply border-2 border-green-700;
}
